@import "tailwindcss";

:root {
  color-scheme: light;

  --db-bg: #f0f9ff; 
  --db-surface: #ffffff;
  --db-border: #000000;
  
  --db-text: #000000;
  --db-text-muted: #334155;

  --db-primary: #2563eb;
  --db-primary-fg: #ffffff;

  --db-accent: #fbbf24;
  --db-accent-fg: #000000;
  
  --db-danger: #ef4444;
  --db-success: #22c55e;
}

.dark {
  color-scheme: dark;
  --db-bg: #0f172a; 
  --db-surface: #1e293b;
  --db-border: #ffffff; 
  --db-text: #ffffff;
  --db-text-muted: #cbd5e1;
  --db-primary: #60a5fa;
  --db-primary-fg: #000000;
  --db-accent: #fcd34d;
}

body {
  background-color: var(--db-bg);
  color: var(--db-text);
  font-family: ui-sans-serif, system-ui, sans-serif;
  
  background-image: linear-gradient(var(--db-text-muted) 1px, transparent 1px),
  linear-gradient(90deg, var(--db-text-muted) 1px, transparent 1px);
  background-size: 40px 40px;
  background-position: -1px -1px;
  background-blend-mode: overlay;
  opacity: 1;
  
  min-height: 100vh;
}

button, a, input[type="submit"], [role="button"] {
  cursor: pointer !important;
}

::-webkit-scrollbar { width: 14px; }
::-webkit-scrollbar-track { background: var(--db-bg); border-left: 2px solid var(--db-border); }
::-webkit-scrollbar-thumb { 
  background: var(--db-primary); 
  border: 2px solid var(--db-border); 
}
::-webkit-scrollbar-thumb:hover { background: var(--db-accent); }